<p><b>Name :</b> <%= @developer.name %></p>
<p><b>Email :</b> <%= @developer.email %></p>
<p><b>Skill Level :</b> <%= @developer.skill_level %></p>
<p><b>Categories :</b> <%= @developer.categories %></p>
<p><b>Experience :</b> <%= @developer.experience %></p>
<p><b>language :</b> <%= @developer.language %></p>

<%= link_to "Edit" ,edit_developer_path %>  &nbsp <%= link_to "Back",developers_path %>