<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="form-container">
          <h3 class="title">Edit <%= resource_name.to_s.humanize %></h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: "form-horizontal" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <%= f.text_field :firstname, autofocus: true, placeholder: "First name" , class: "form-control"%>
            </div>
            <div class="form-group">
              <%= f.text_field :lastname, autofocus: true, placeholder: "Last name" , class: "form-control"%>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New Password" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",placeholder: "Confirm new Password" %>
            </div>
            <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current Password"%>
            </div>
            <div class="form-group">
              <%= f.file_field :image, autocomplete: "image", class: "form-control", placeholder: "Choose Image"%>
            </div>
            <%= f.submit "Update", class: "btn btn-lg signup",id: "acbtn1"%>
            <% end %>
          <h6>Delete account?</h6>
          <div class="row">
            <div class="col-6">
            <%= button_to "Delete account", registration_path(resource_name),id: "acbtn2",class: " btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete%>
            </div>
            <div class="col-6">
              <%= link_to "Back", root_path ,id: "btnback" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    #acbtn2 {
        width: 70%;
        background-color: #B00100;
        border-color: #B00100;
        padding: 6px;
        letter-spacing: 0px;
        border-radius: 15px;
        font-size: small;
    }
    #btnback {
        padding: 6px;
        letter-spacing: 0px;
        color: #006699;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0px;
        text-transform: capitalize;
        width: 70%;
        padding: 6px;
        border: 2px solid #006699;
        border-radius: 15px;
        display: inline-block;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        font-size: small;
    }
</style>