<h3>User Show Here</h3>

<p>First Name :  <%= @user.fname %></p>
<p>Last Name :  <%= @user.lname %></p>
<p>Email :  <%= @user.email %></p>

<%= link_to "Edit" ,edit_user_path ,class: 'btn btn-primary' %></br></br>
<%= link_to "Back",users_path ,class: 'btn btn-primary'%>