<div class="container d-lg-flex">
        <div class="box-1 bg-light user">
            <div class="d-flex align-items-center mb-3">
				<% if current_account.image.present? %>
					<%= image_tag current_account.image, class: "pic rounded-circle" %>
				<% else %>
					<%= image_tag "defult.png", class: "pic rounded-circle"%>
				<% end %>
                <p class="ps-2 name"><%= current_account.firstname %></p>
            </div>
            <div class="box-inner-1 pb-3 mb-3 ">
                <div class="d-flex justify-content-between mb-3 userdetails">
                    <p class="fw-bold"><%= @product.name %></p>
                    <p class="fw-lighter"><span class="fas fa-dollar-sign"></span><%= @product.price %></p>
                </div>
                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                    data-bs-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
							<%= image_tag @product.image, class: "d-block w-100", height: 200, width: 200 %>
                        </div>
                    </div>
                </div>
                <p class="dis info my-3"><%= @product.description %>
                </p>
                <div class="radiobtn">
                    <input type="radio" name="box" id="one">
                </div>
            </div>
        </div>
        <div class="box-2" style="background-color: #f9f9f9">
            <div class="box-inner-2">
                <div>
                    <p class="fw-bold">Payment Details</p>
                    <p class="dis mb-3">Complete your purchase by providing your payment details</p>
                </div>
				<%= form_with(model: @order, url: checkouts_path(product_id: @product.id,order_id: @order), local: false,method: :post) do |form| %>
                    <div class="mb-3">
                        <p class="dis fw-bold mb-2">Email address</p>
                        <input class="form-control" type="email" value=<%= current_account.email %>>
                    </div>
                    <div>
                        <div class="my-3 cardname">
                            <p class="dis fw-bold mb-2">Cardholder name</p>
							<p class="form-control"><%= current_account.firstname %> <%= current_account.lastname %></p>
                        </div>
						<div class="d-flex flex-column dis">
							<div class="d-flex align-items-center justify-content-between mb-2">
								<p>Subtotal</p>
								<p><span class="fas fa-dollar-sign"></span><%= @product.price %></p>
							</div>
							<div class="d-flex align-items-center justify-content-between mb-2">
								<p class="fw-bold">Total</p>
								<p class="fw-bold"><span class="fas fa-dollar-sign"></span><%= @product.price %></p>
							</div>
							<%= form.hidden_field :product_id, value:params[:product_id] %>
							<%= form.hidden_field :account_id, value:current_account.id %>
							<div>
								<%= form.submit :Checkout, class: "btn btn-primary mt-2" %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
