<%= link_to "Create Project",new_project_path ,class: 'btn btn-success'%></br></br>

<table id="table_5" class="table table-bordered">
  <thead class="t">
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Start Date</td>
    <td>Developer</td>
    <td>Action</td>
    <td>Task</td>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name  %></td>
      <td><%= project.description %></td>
      <td><%= project.start_date %></td>
      <% if (project.developers).present? %>
        <td>
        <% project.developers.each do |developer1| %>
            <%= link_to developer1.try(:name), developer_url(developer1.id) %>
        <% end %>
        </td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= link_to "Edit", edit_project_path(project) ,class: 'btn btn-link',  title: 'edit' %>&nbsp |
      <%= link_to "Show", project_path(project) , class: 'btn btn-link', title: 'Shows' %>&nbsp |
      <%= link_to "Delete", project_path(project) , method: :delete, class: 'btn btn-link',  title: 'delete' %></td>
      <td><%= link_to " Create task",new_project_task_path(project),class: 'btn btn-link', title: 'task  ' %></td>
  <% end %>
  </tr>
  </tbody>
</table>