<p><b>Name :</b> <%= @project.name %></p>
<p><b>Description :</b> <%= @project.description %></p>
<p><b>Start Date :</b> <%= @project.start_date %></p>

<%= link_to "Edit" ,edit_project_path %>  &nbsp <%= link_to "Back",projects_path %>