<p><b>Title :</b>  <%= @post.title %></p>
<p><b>Description :</b>  <%= @post.description %></p>
<p><b>Date :</b>  <%= @post.date %></p>

<%= link_to "Edit" ,edit_post_path(@post) %> &nbsp <%= link_to "Back",root_path %>

