<h3>Create Product</h3>
<%= form_with model: @product do |form| %>
  <div class="card" style="width: 50% ">
    <div class="card-body">
      <div class="mb-3">
          <%= form.label :Name, class: "form-label" %></br>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
      </div>
      <div class="mb-3">
        <%= form.label :Image, class: "form-label" %><br/>
        <%= form.file_field :image, class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= form.label :Price, class: "form-label" %><br/>
        <%= form.text_field :price, class: "form-control", placeholder: "Enter Price" %>
      </div>
      <div class="mb-3">
        <%= form.label :Description, class: "form-label" %><br/>
        <%= form.text_field :description, class: "form-control", placeholder: "Enter Description" %>
      </div>
      <div class="mb-3">
        <%= form.label :Rating, class: "form-label" %><br/>
        <%= form.text_field :rating, class: "form-control", placeholder: "Rating" %>
      </div>
      <div class="mb-3">
        <%= form.label :Brand, class: "form-label" %><br/>
        <%= form.text_field :brand, class: "form-control", placeholder: "Enter Brand" %>
      </div>
      <div class="mb-3">
        <%= form.submit :Create ,class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>