
<div class="container-fluid mt-2 mb-5"><div class="products" id="product">
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			<div class="row g-3">
				<% @products.each do |product| %>
					<div class="col-md-4">
						<% if product.image.present? %>
							<div class="card" id="icard"> <%=link_to(image_tag(product.image ,height: 400,width: 565),product_path(product))%>
						<% else %>
							<div class="card" id="icard"> <%= image_tag "sofaset.jpg" ,height: 400 %>
						<% end %>
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="font-weight-bold"><%= product.name %></span>
								<span class="font-weight-bold"><%= product.price %></span>
							</div>
							<p class="card-text mb-1 mt-1"><%= product.description %></p>
							<div class="d-flex align-items-center flex-row">
								<img src="https://i.imgur.com/e9VnSng.png" width="20">
								<span class="guarantee">2 Years Guarantee</span>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<div class="text-right buttons"> <%= link_to "Make Order", new_order_path(product_id: product), class: "btn btn-outline-success" %>   <button class="btn btn-success AddCart" data-id="<%= product.id %>">Add to cart</button> </div>
						</div>
						</div>
						</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="text-center" id="pro">
		<ul class="pagination justify-content-center">
			<%== pagy_bootstrap_nav(@pagy) %>
		</ul>
	</div>
</div>



