<nav class="navbar navbar-light" style="background-color: #006699;" >
<div class="container-fluid">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "Product" ,root_path, title: 'Product', class: 'btn btn-secondary' %>
    </li>
    <li class="nav-item">
      <%= link_to "Users" ,users_path, title: 'Users', class: 'btn btn-secondary' %>
    </li>
    <li class="nav-item">
      <%= link_to "Posts" , posts_path, title: 'Posts', class: 'btn btn-secondary'%>
    </li>
    <li class="nav-item">
      <%= link_to "Company" ,companies_path, title: 'Company', class: 'btn btn-secondary'%>
    </li>
    <li class="nav-item">
      <%= link_to "Employee" ,employees_path, title: 'Employee', class: 'btn btn-secondary'%>
    </li>
    <li class="nav-item">
      <%= link_to "Developer" ,developers_path, title: 'Developer', class: 'btn btn-secondary'%>
    </li>
    <li class="nav-item">
      <%= link_to "Project" ,projects_path, title: 'project', class: 'btn btn-secondary'%>
    </li>
  </ul>
  <div>
    <% if(account_signed_in?) %>
      <div class="dropdown">
        <% p current_account %>
        <% if current_account.image.present? %>
          <%= image_tag current_account.image, height: 36,width: 40, class: "dropdown-toggle", data: {bs_toggle: 'dropdown'} %>
      <% else %>
          <%= image_tag "profile-icon.png", height: 36,width: 40, class: "dropdown-toggle", data: {bs_toggle: 'dropdown'} %>
      <% end %>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu1">
          <li><%= link_to "My wishlist",carts_path, title: 'addtocart', class: 'dropdown-item'  %></li>
          <li><%= link_to "My Order", orders_path, title: 'myorder', class: 'dropdown-item' %></li>
          <li><%= link_to "Edit Profile",edit_account_registration_path, title: 'editprofile', class: 'dropdown-item' %></li>
          <li><%= link_to "View Profile",account_path(current_account.slug),title: "viewprofile", class: 'dropdown-item' %></li>
          <li><%= link_to "logout",destroy_account_session_path, title: 'logout', class: 'dropdown-item', method: :delete %></li>
        </ul>
      </div>
      <% else %>
    <span>
      <%= link_to "Signup" ,new_account_registration_path, title: 'signup', class: 'btn btn-secondary'%>
    </span>
    <span style="float: right">
      <%= link_to "Signin" ,new_account_session_path, title: 'signin', class: 'btn btn-secondary'%>
    </span>
      <% end %>
  </div>
</div>
</nav>

