<div class="container" id="containershow">
  <div class="card" id="showcard">
    <div class="card-body" id="accountcardbody">
      <h4><b><i>View Profile</i></b></h4>
      <%= form_for(@account,  html: { class: "form changeimage" }, url: uploadimage_path(@account),remote: true ) do |f| %>
      <div class="row">
        <div class="col-2">
          <% if current_account.image.present? %>
            <%= image_tag current_account.image, height: 75, width: 75, class: "img" %>
          <% else %>
            <%= image_tag "profile-icon.png", height: 75, width: 75, class: "img" %>
        <% end %>
        </div>
        <div class ="col-10 btn btn-sm btn-primary">
          Upload Image
          <%= f.file_field :image, class: "file" %>
        </div>
      </div>
      <div class="row showrow">
        <div class="col-6">
          <b>First Name: </b>&nbsp <%= f.text_field :firstname, class: "form-control" %>
        </div>
        <div class="col-6">
          <b>Last Name: </b>&nbsp <%= f.text_field :lastname,class: "form-control" %>
        </div>
      </div>
      <div class="row showrow">
        <div class="col">
          <b>Email: </b>&nbsp<%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="row showrow">
        <div class="col">
          <%= f.submit "Save Change", class: "btn btn-success", id: "showsave" %>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>

